# ENTORNO
NODE_ENV=development

# SERVIDOR
PORT=3000
HOST=localhost

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=bares_db

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRATION=7d

# CORS
CORS_ENABLED=true
# Establece a true para permitir peticiones desde cualquier origen (útil en desarrollo)
CORS_ALLOW_ALL_ORIGINS=true 